[submodule "Calculator"]
	path = Calculator
	url = https://github.com/5heron/Calculator-apk.git
[submodule "EmployeeManagement"]
	path = EmployeeManagement
	url = https://github.com/5heron/EmployeeManagement.git
[submodule "MovieApp"]
	path = MovieApp
	url = https://github.com/5heron/MovieApp.git
[submodule "FacebookApk"]
	path = FacebookApk
	url = https://github.com/5heron/FacebookApk.git
[submodule "FacebookUI"]
	path = FacebookUI
	url = https://github.com/5heron/FacebookApk.git
[submodule "FoodActivity"]
	path = FoodActivity
	url = https://github.com/5heron/FoodApp.git
